{% extends 'index.html' %}
{% load static  %}
{% block titulo %}
Biblioteca.UC| Listado de Usuarios
{% endblock titulo %}
{% block extra_css %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<style>a {text-decoration: none;}</style>
{% endblock extra_css %}
{% block body %}

     
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <strong class="card-title">Listado de Usuarios</strong>
                    </div>
                    <div class="col-md-4">
                       
                    </div>
                </div>
                
            </div>
            <div class="table-stats order-table ov-h">
                {% if usuarios %}
                <table id="tabla_usuarios" class="table table-hover">
                    <thead   >
                        <tr >
                            <th>Username</th>
                            <th>CI</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}                             
                                    <tr>
                                        <td> {{usuario.username}} </td>
                                        <td> {{usuario.ci}} </td>
                                        <td> {{usuario.nombre}} </td>
                                        <td> {{usuario.apellidos}} </td>
                                        <td> {{usuario.correo}} </td>
                                        <td> {{usuario.rol}} </td>
                                    </tr>
                                
                        {% endfor%}
                          
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
     
<div class="modal fade" id="creacion" role="dialog">
     
</div>
<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminacion" role="dialog">

</div>
{% endblock body %}
 